p{
  font-family: sans-serif;
}
html{
  background-color: aquamarine;
}
h1{
  color: blue;
  font-family: sans-serif;
}
li{
  color: green;
  font-family:sans-serif;
}
input{
  color: blue;
  font-family: sans-serif;
}
form{
  color:green;
  font-family: sans-serif;
}
h3{
  color:#blue;
  font-family: sans-serif;
}
hr{
  color:teal;
}
#button{
  width: 100px;
  height:20px;
  color:white;
  background-color:#008080;
  border-radius: 15px;
}
.wrap-trivia{
  padding:10px;
  height:100px;
  width: 200px;
border: 5px double purple;
}
  #banner {
  height:30px;
  width:10%;
  border:5px solid black;
  background-color: blue;
  text-align: center;
  color:green;
  font-size: 22px;
  font-family:sans-serif;
  border-radius: 15px;
  clear:both;
}
a {
font-family: sans-serif;
}
.navitem {
list-style-type:none;
display:inline;
margin-right:.3em;
padding:2px 5px;
}
 #navmenu {
text-align:center;
background-color:purple;
color:blue;
border-radius:5px;
}
a:hover{
color:red;
}
#button2{
background-color:teal;
color:white;
border-radius:15px;
height:20px;
width:100px;
}
.wrap-quiz{
padding:10px;
height:80px;
width:200px;
border:5px double purple;
}
